<h2>商品情報編集</h2>

<div>
  <%= form_with model: @item, url: shop_item_path(@item.id), method: :patch, local: true do |f| %>
    <%= render "item_tp", f: f %>
    <div class="form-group">
      <%= f.submit "変更を保存", class: "btn btn-outline-secondary btn-sm" %>
    </div>
  <% end %>
</div>
