<div class="row">
  <h2 class="col-12">ショップ一覧</h2>

  <% @shops.each do |shop| %>
    <% if shop.items.present? && shop.introduction.present?%>
      <div class="card shop-box mx-3" style="width: 14rem;">
        <%= link_to shop_path(shop.id), class: "text-dark" do %>
          <%= image_tag shop.get_shop_image(200,150), class: "card-img-top" %>
          <p class="card-body"><%= shop.name %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
