<div class="text-center">
    <h1 class="pb-2">おうち＠カフェとは</h1>
    <%= image_tag '23658169_s.jpg', :size => "920x520" %>

    <h2 class="pt-3">"お気に入りのスイーツをおうちで"</h2>
    <h5 class="about-text">
        日本全国のお店から絶品スイーツをお取り寄せいただける、オンライン通販サイトです。<br>
        「今日はどのお店にしよう」「いつも頑張る自分にご褒美を」<br>
        そんなささやかな幸せをスイーツと一緒にお届け出来ることを目指しています。<br>
        行ってみたかったお店やまだ見ぬ名店との出会いをお楽しみください。
    </h5>
</div>
