<h2>お気に入りの商品</h2>

<% if @favorites.present? %>
  <% @favorites.each do |favorite| %>
    <%= render "public/items/item", item: favorite.item %>
  <% end %>
<% else %>
  <p>お気に入りされた商品がありません</p>
<% end %>
