<div class="row">
  <h2 class="col-12">ショップのログイン</h2>

<%= form_with model: @shop, url: shop_session_path do |f| %>
  <%= render "public/sessions/login", f: f %>
<% end %>

<p class="col-12 my-5">新規登録は<%= render "shop/shared/links" %>から</p>
</div>
